/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    height: 100vh;
}

img {
    width: 100%;
}

.container {
    width: 50vw;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.item {
    display: none;
}

.active {
    display: block;
}

.item-container {
    position: relative;
}


.preview, .next {
    position: absolute;
    padding: 10px;
    background-color: rgb(193, 193, 193);
    border-radius: 100%;
}


.preview {
    top: 10px;
    left: 50%;
}

.next {
    bottom: 10px;
    left: 50%;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 400px;
    margin: 0 auto;
}

.slider {
    position: relative;
    margin-top: 75px;
}

.next, .prev {
    position: absolute;
    border-radius: 50%;
    background-color: red;
    padding: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.prev {
    top: 10px;
}

.next {
    bottom: 10px;
}


/* JS */
.item {
    display: none;
}

.active {
    display: block;
}
